@font-face {
  font-display: swap;
  font-family: 'Golos';
  font-style: normal;
  font-weight: 300;
  src: url('./../../public/fonts/golos-400.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Golos';
  font-style: normal;
  font-weight: 700;
  src: url('./../../public/fonts/golos-700.woff2') format('woff2');
}
